.contenedor{
    font-family: 'Times New Roman';
    background-color: orange;  
    animation-duration: 3s;
    animation-name:slidein;
    animation-iteration-count: infinite;
    
    
    }

  @keyframes slidein{
    50%{ 
        background-color: #F34C28;
    }

    100%{
    background-color: coral;}
    
}


.contenedor2{
    animation-duration: 4s;
    animation-name: slidein2;
    animation-iteration-count:4;
}
 @keyframes slidein2{

   50%{
       transform: scale(0.5);
   }

   100%{
       transform: scale(1.3);
   }
  
}

.contenedor3{
    width: 200px;
    height: 200px;
    background-color: cornflowerblue;
    animation-name: slidein3;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    position: relative;
    animation-timing-function: ease;

}

@keyframes slidein3{

    0%{
        left:0px;top: 0px;

        
    }


    25%{
        background-color: blue;
        left:500px; top:0px;

    }


    50%{

        background-color: cyan;
        left:500px;

        top:500px        
    }
    

    75%{
        background-color: darkgrey;
        left:0px; top:500px;
    }
  

    100%{
        
       left:0px; top:0px;
    }



}

